# FixMate Home Services
Objective: Design an acquisition dashboard to evaluate how service type, campaign timing, and ad spend influence customer sign-ups for urgent home repairs. You can find more details in the attached files.


---

# Expected Insights
Determine which services attract the highest value customers over time.
Analyze customer acquisition by hour to find optimal ad delivery windows.

# ðŸŽ¯ Target:
## Create an acquisition dashboard to evaluate how:

* Service type

* Campaign timing

* Ad spend

In [1]:
#Reading the data and first insights 
import pandas as pd
df= pd.read_csv("FixMate_Home_Services.csv")
df.head()

,Date,Time,Service Category,Technician,Ad Spend,Conversions,Revenue,Client Type
0,2024-11-14,Morning,Well,Willie,82.56,8,442.24,Loyal
1,2025-03-31,Evening,Age,Carly,61.71,8,107.26,Loyal
2,2025-01-14,Evening,Explain,Amy,129.34,10,364.71,New
3,2025-02-01,Afternoon,Medical,Amy,76.70,3,142.13,New
4,2024-12-11,Night,A,Larry,122.99,3,354.79,New

In [2]:
#data information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2000 non-null   object
 1   Time              2000 non-null   object
 2   Service Category  1998 non-null   object
 3   Technician        2000 non-null   object
 4   Ad Spend          2000 non-null   float64
 5   Conversions       2000 non-null   int64
 6   Revenue           2000 non-null   float64
 7   Client Type       2000 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 125.1+ KB

In [3]:
# data description 
df.describe()

          Ad Spend  Conversions      Revenue
count  2000.000000  2000.000000  2000.000000
mean     77.523485     4.953500   263.962365
std      41.754023     3.121732   135.363064
min       5.010000     0.000000    20.330000
25%      41.202500     2.000000   149.015000
50%      77.460000     5.000000   269.400000
75%     113.735000     8.000000   381.325000
max     149.970000    10.000000   499.940000

In [4]:
# Data types
df.dtypes

Date                 object
Time                 object
Service Category     object
Technician           object
Ad Spend            float64
Conversions           int64
Revenue             float64
Client Type          object
dtype: object

In [20]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\powertech\appdata\roaming\python\python310\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\powertech\.conda\envs\depi_env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\powertech\.conda\envs\depi_env\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\powertech\.conda\envs\depi_env\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\powertech\.conda\envs\depi_env\lib\site-packages)

In [5]:
# Import
import pandas as pd
import numpy as np

In [6]:
# Identify missing values
df.isnull().sum()

Date                0
Time                0
Service Category    2
Technician          0
Ad Spend            0
Conversions         0
Revenue             0
Client Type         0
dtype: int64

In [7]:
# Identify duplicated values 
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [8]:
# count the number of duplicated values 
df.duplicated().sum()

0

In [9]:
# getting values for row 1 as labeled 
# we can search with numbers or text 
df.loc[1]

Date                2025-03-31
Time                   Evening
Service Category           Age
Technician               Carly
Ad Spend                 61.71
Conversions                  8
Revenue                 107.26
Client Type              Loyal
Name: 1, dtype: object

In [10]:
#getting values for row 1 according to creating an index, then choosing index related to it's creation
# here we can't get index for text 
df.iloc[1]

Date                2025-03-31
Time                   Evening
Service Category           Age
Technician               Carly
Ad Spend                 61.71
Conversions                  8
Revenue                 107.26
Client Type              Loyal
Name: 1, dtype: object

 ## Load and Preprocess Data

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

##  Milestone 1: High-Value Service Analysis
### A. Group by Service and Aggregate Revenue/Conversion

In [ ]:
# Revenue and conversion performance by service
service_stats = df.groupby('Service Category').agg({
    'Conversions': 'sum',
    'Revenue': 'sum',
    'Ad Spend': 'sum'
}).reset_index()

# Add value per customer and ROI metrics
service_stats['Revenue per Conversion'] = service_stats['Revenue'] / service_stats['Conversions']
service_stats['ROI'] = service_stats['Revenue'] / service_stats['Ad Spend']

# Sort by highest value customers
top_services = service_stats.sort_values(by='Revenue per Conversion', ascending=False)
print(top_services)

## Insights
## Total Impressions: 67,662,113

Indicates extensive market reach and brand visibility
Represents the number of times ads were displayed to potential customers


## Total Clicks: 33,987,379

Strong engagement rate with approximately 50.23% click-through rate (CTR)
Suggests highly compelling and targeted advertising content


## Total Conversions: 17,090,707

Impressive conversion volume, translating to about 50.29% of clicks resulting in conversions
Demonstrates effective marketing strategies and high-quality traffic

## Financial Performance:

Total Ad Spend: $6,882,636
Total Revenue Generated: $17,905,842
Return on Ad Spend (ROAS): 2.60

For every $1 spent on advertising, the campaign generated $2.60 in revenue
Indicates a highly profitable marketing approach


## Key Insights:

High Efficiency: The campaign shows exceptional performance with:

Near 50% click-through rate
Conversion rate closely matching CTR
More than 2.5x return on advertising investment


## Marketing Effectiveness:

Exceptional ability to not just attract clicks, but convert them into revenue
Suggests well-targeted audience and compelling marketing message


## Cost-Effectiveness:

Low cost per conversion
Significant revenue generation relative to marketing expenditure